*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/soil-918006_1920.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

 
#registrar{
        float:left;
        width:80%;
        font-size:24px;
        font-weight:bold;
        color:#FFF;
        text-align:right;
}
 
#envoltura{
    
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-165px;
    margin-top: -210px;
    width: 330px;
 
}
 
#contenedor{
    background-color:#BF00FF;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
}
 
#cabecera{
    /*linea azul que separa logo*/
    border-bottom: 5px solid #333;
    padding-top: 5px;
   
    height:70px;
    line-height:50px;
    text-align:center;
}
 
#cuerpo{
    background:#ececec;
    border:solid #ccc;
    /*aumentando el 2px 'aparece' un borde*/
    border-width: 2px 0;
    padding:15px 35px;
}
 
label{
    color: #666;
    font-weight: bold
}
 
input{
 
    border-radius:5px; 
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 230px;
}
 
.usuario{
    background:0 2px; 
    /*Para que el texto dentro del input se mueva*/
    padding-left: 25px; 
}
 
.contraseña{
    background: 0 5px;
    padding-left: 25px;
 
}
 
.boton{
    background: #ccc;
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
    /*Color del texto*/
    color: #666;
    width: 120px;
}
 
/*Tip estas instrucciones animan al boton enviar
 * para que se vea como si se pulsara*/
.boton:active{
    position: relative;
    top: 3px;
}
 
#pie{
    border-top: 5px;
    color: #fff;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}
 
form,p{
    margin:0;
}
 
p{
    padding-bottom: 5px;
}
 
/*Para separar el botón de ingresar*/
p#bot{
    padding-top: 10px;
  }


