*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Clases especiales */
.borde{
	border: 1px ;
}

/*Contenedor*/
.contenedor{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin:auto;
}
/*Navegador*/
nav{
	width: 100%;
	height: 60px;
	background:#010101 ;
	position: fixed;
}
.logo{
	width: 20%;
	height: 100%;
	padding: 5px;
	float: left;
	background:#010101 ;
	text-align: center;
}
.logo img{
	width: 90px;
	height: 40px;
}
.navegacion{
	width: 65%;
	height: 100%;
	float: left;

}
.documentacion{
	width: 95%;
	height: 3%;
	background-color: lightgrey;
	text-align: center;
	float: right;
}
.form-control{
	padding: 3px 3px 3px 3px;
	text-align: center;
}
.documentacion1{
	width: 100%;
	height: 95%

}
.notificacion{
	width: 80%;
	height: 100%;
	float: left;
}
.controls{
	padding: 50px 50px 50px 50px;
	text-align: center;
}

}/* nivel 0*/
nav ul{
	list-style: none;
	padding: 0 20px 0 0;
}
nav>.navegacion>ul>li,nav>.ingreso>ul>li{
	display: inline-table;
}
nav ul li{
	width: 120px;
	text-align:center;
	background:#38A207;
}
nav ul li:hover>ul{
	display: block;
}
nav ul li a{
	display: block;
	padding: 15px 0 14px 0;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #88DB7F;
}
nav ul li a:hover{
	background: rgba(242,177,52,0);
	border-bottom: 1px solid #88DB7F;
}
/*nivel 1*/
nav li ul{
	position: absolute;
	display: none;
}
nav li ul li{
	position: relative;
}
/*nivel 2*/
ul li ul li ul {
	left: 120px;		
	top: 2px;
}
.salir{
	width: 15%;
	height: 100%;
	float: left;
	background: #010101;
}
.salir ul{
	width: 100%;
	padding: 0;
	background:#38A207;

}
.salir ul li{
	width: 100%;
	background: #38A207;
}
.salir li ul{
	width: 15%;
	background: #38A207;
}

/*Principal*/
main{
	width: 100%;
	height: 1307px;
}

/*Barra lateral*/
aside{
	width: 20%;
	height: 1800px;
	float: left;
	background:#191916;
}
aside ul{
	list-style: none;
	margin: 0 0 0 25px;
}
aside a{
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #fff;
}

.espacio{
	width: 100%;
	height: 5%;
	background: #ffff;
}

.perfil{
	width: 100%;
	height: 16%;
}
.perfil .foto{
	width: 40%;
	height: 100%;
	padding: 28px 15px 15px 15px;
	float: left;
}
.icono{
	width: 50px;
	height: 70px;
}
.foto i{
	width: 80px;
	height: 90px;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
}
.perfil .info-perfil{
	width: 60%;
	height: 100%;
	float: left;
}
.info-perfil ul{
	margin: 30px 0 0 0;
}
.info-perfil a{
	padding: 3px;
}
.info-perfil a:hover{
	color:#ccc;
}

.modulo{
	width: 100%;
	height: 21%;
	padding: 10px 10px 10px 10px;
	color: #fff;
}
.modulo h2{
	text-align: center;
	margin: 0 0 10px 0;
}
.modulo h3{
	text-align: center;
	margin:0 0 10px 0;
}
.modulo a:hover{
	background: rgba(242,177,52,0);
	border-left: 30px solid #34362F;
}
/*Area de trabajo*/
section{
	width: 80%;
	height: 100%;
	float: left;
}
table{
	border-collapse: collapse;
	width: 100%;
}

td,th{
	border:1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
.fas.fa-trash-alt{
	background: #FF4315;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.far.fa-calendar-alt{
	background: #11990D;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.fas.fa-times{
	background: #FF130D;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

