 *{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

/* Clases especiales*/
.borde{
	border: 1px ;
} .titulo{
	width: 100%;
 	height: 50px;
 	padding: 10px;
 	background: rgb(0,0,0);
 	color: #fff;
 	text-align: center;
 	font-size: 2em;

}
/*Cuerpo*/
body{
	background-image: url();
	background-size: 100% 100%;
	background-attachment: fixed;
}
/*Contenedor*/
 .contenedor{
	width: 100%;
	margin: auto;
}

 /*Navegador*/
 nav{
 	width: 100%;
 	height: 60px;
 	background: #010101;
	position: fixed;
  z-index: 1;
 }
 .logo{
 	width: 20%;
 	height: 100%;
 	padding: 5px;
 	float: left;
 	text-align: center;
 }
 .logo img{
 	width: 90px;
 	height: 40px;

 }
 .navegacion{
 	width: 65%;
 	height: 100%; 
 	float: left;
 }
 
 }/* nivel 0*/
 nav ul{
 	list-style: none;
 	padding: 0 20px 0 0;
 }
 nav>.navegacion>ul>li,nav>.ingreso>ul>li{
 	display: inline-block;
 }
 nav ul li{
 	width: 120px;
 	text-align:center;
 	background:#38A207;
 }
 nav ul li:hover>ul{
 	display: block;
 }
 nav ul li a{
 	display: block;
 	padding: 15px 0 14px 0;
 	text-decoration: none;
 	color: #fff;
 	border-bottom: 1px solid #88DB7F;
 }
 nav ul li a:hover{
 	background: rgba(242,177,52,0);
 	border-bottom: 1px solid #88DB7F;
 }
 /*nivel 1*/
 nav li ul{
 	position: absolute;
 	display: none;
 }
 nav li ul li{
 	position: relative;
 }
 /*nivel 2*/
 ul li ul li ul {
 	left: 120px;		
 	top: 2px;
 }
 .ingreso{
 	width: 10%;
 	height: 100%;
 	float: right;
 	background: #010101;
  }
  .ingreso ul{
  	width: 100%;
  	padding: 0;
  	background:#38A207;

  }
  .ingreso ul li{
  	width: 100%;
  	background: #38A207;
  }
  .ingreso li ul{
  	width: 10%;
  	background: #38A207;
  }

 /*Encabezaso*/
 header{
 	width: 100%;
 	height: 100%;
 	background-size: 100% 100%;
 	background: rgba(255,255,255)
 }
 header img{
  width: 100%;
  height: 100%;
  position: fixed;
 }
 .imagen{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;

 }
 .centrado{
  position: absolute;
  top: 41%;
  left:50%;
  transform:translate(-50%,-50%); 
  color:#010101;
  font-size: 20pt;
 }
 .centrado2{
  position: absolute;
  top: 85%;
  left:50%;
  transform:translate(-50%,-50%); 
  color:#010101;
  font-size: 10pt;
 }
  .centrado1{
  position: absolute;
  top: 25%;
  left:50%;
  transform:translate(-50%,-50%); 
  color:#010101;
  font-size: 20pt;
  opacity: 0.8;
 }
  .centrado3{
  position: absolute;
  top: 27%;
  left:50%;
  transform:translate(-50%,-50%); 
  color:#010101;
  font-size: 20pt;

 }
   .centrado4{
  position: absolute;
  top: 35%;
  left:15%;
  transform:translate(-50%,-50%); 
  color:#010101;
  font-size: 10pt;

 } 
   .centrado5{
  position: absolute;
  top: 77%;
  left:50%;
  transform:translate(-50%,-50%); 
  color:#010101;
  font-size: 20pt;

 }
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
 .far.fa-clipboard{
  width: 15px;
  height: 15px;
  background: #11990D;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
 .fas.fa-handshake{
  background: #4300E8;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
 .fas.fa-times-circle{
  background: #FF130D;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
} 